header{
    margin: 20px;
}


body{
    background-color: lightgoldenrodyellow;
    margin: 20px;
}

nav{
    display:flex;
}

a{
    width: 200px;
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    background-color: #faa01a;
}

@media (max-width: 500px){
    nav{
        flex-direction: column;
    }
    
}

iframe {
    border: none;
    width: 650px;
    height: 630px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

div{
    margin: 0px;
    padding: 0px;
    transform: scale(0.75, 0.75);
    transform-origin: top left;
}